<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>WSP Quiz App</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
	<div>
		<p align="right"><a href="/admin/post">Add Questions</a> | <a href="/admin/view">View Questions</a> | <a href="/admin/students">Manage Students</a> | <a href="/admin/logout">logout</a></p>
	</div>
	<div>

		<center>
			<h1>Welcome to the admin area</h1>

		</center>
		</div>

</body>

</html>
