<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>WSP Quiz App</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>

	<div>

		<center>
			<h1>Welcome {{ user[1] }} to WSP Test</h1>

			<p>Please <a href="test?id=1">click here</a> to begin or <a href="logout">logout</a></p>

		</center>
		</div>

</body>

</html>
