<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>WSP Quiz App</title>

	<link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
	<div>
		<p align="right" id="page-wrap"><a href="/admin">Index</a> | <a href="/admin/logout">logout</a></p>
	</div>

	<div>
	  <center><h1>Question Bank ({{ questions|length }})</h1>
<form action="/admin/view" method="post">

		<table cellspacing='0'>
			<p><input type="submit" name="submit" value="Post Questions"></p>
			<thead>
				<tr>
					<th>
					</th>
					<th>Question</th>
					<th>Option A</th>
					<th>Option B</th>
					<th>Option C</th>
					<th>Option D</th>
					<th>Correct Answer</th>
					<th>Difficulty</th>
				</tr>
			</thead>

			<tbody>
				{% for question in questions %}
					<tr>
						<td>
							<input type="checkbox" name="chkQuestion" value="{{question['id']}}">
						</td>
						<td>{{ question['text'] }}</td>
						{% for option in question['options'] %}
						<td>
								Option: {{ option }}
						</td>
						{% endfor %}
						<td>
							{{ question['answer'] }}
						</td>
						<td>
							{{ question['difficulty'] }}
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
</form>
</center>
	</div>

</body>

</html>
